.mainContainer {
    overflow-x: hidden;
    overflow-y: hidden;
}

.headerLogo {
    width: 206px;
    padding: 26px 1000px 0 90px;
}

.navItem1 {
    color: orange;
    font-size: 16px;
    padding: 0 559px 0 730px;
    margin-top: -30px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.navItem2 {
    color: rgb(10, 10, 10);
    font-size: 16px;
    padding: 0 377px 0 895px;
    margin-top: -17px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.navItem3 {
    color: rgb(8, 8, 8);
    font-size: 16px;
    padding: 0 231px 0 1077px;
    margin-top: -19.5px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.navItem4 {
    color: rgb(8, 8, 8);
    font-size: 16px;
    padding: 0 50px 0 1223px;
    margin-top: -18.5px;
    font-family: 'Montserrat';
    font-weight: 600;
}

.homeContainer {
    background-image: url(/images/image2.png);
    padding-top: 1440px;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.homeHeading {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: -1370px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.homeHeading1 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
}

.homeHeading2 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
}

.homeHeading3 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.homeButton1 {
    background: #FA4A0C;
    color: white;
    padding: 19px 40px 19px 40px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    border-radius: 30px;
    border: none;
    display: inline-block;
    margin-left: 500px;
    margin-top: 40px;
}

.homeButton2 {
    padding: 16px 40px 16px 40px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
}

.homeMobileDesign1 {
    margin-left: 320px;
    margin-top: -140px;
}

.homeMobileDesign2 {
    margin-left: -240px;
    margin-top: 100px;
    position: absolute;
}

.horizontalLine {
    border: 2px solid rgb(209, 204, 204);
    width: 70%;
    margin-left: 200px;
    text-align: center;
}

.procedure {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

.createAccountMobileDesign {
    width: 650px;
    margin-left: 120px;
}

.createAccountRightContainer {
    width: 50%;
    margin-left: 700px;
    margin-top: -600px;
}

.createAccountContent1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.createAccountContent2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.createAccountContent3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.createAccountContent4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.createAccountContent5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.shoppingLeftContainer {
    width: 50%;
    margin-top: 570px;
    margin-left: 250px;
}

.shoppingRightContainer {
    margin-left: 800px;
    margin-top: -530px;
}

.shoppingMobileDesign {
    width: 650px;
}

.shoppingContent1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.shoppingContent2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.shoppingContent3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.shoppingContent4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.shoppingContent5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.checkOutMobileDesign {
    width: 650px;
    margin-left: -20px;
    margin-top: -140px;
}

.checkOutLeftontainer {
    width: 50%;
    margin-left: 120px;
}

.checkOutRightContainer {
    margin-left: 700px;
    margin-top: -600px;
}

.checkOutContent1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}

.checkOutContent2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.checkOutContent3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.checkOutContent4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.checkOutContent5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}

.downloadContainer {
    background-image: url(/images/image8.png);
    padding-top: 1440px;
    background-repeat: repeat-x;
    margin-top: 300px;
    width: 1440px;
    margin-bottom: -900px;
}

.downloadHeading {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: -1300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.downloadHeading1 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.downloadButton1 {
    background: #FA4A0C;
    color: white;
    padding: 19px 40px 19px 40px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    border-radius: 10px;
    border: none;
    display: inline-block;
    margin-left: 500px;
    margin-top: 40px;
}

.downloadButton2 {
    padding: 16px 40px 16px 40px;
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;
}

.footerlogo {
    width: 206px;
    padding: 30px 0 30px 150px;
}

.centerFooter {
    margin-top: -75px;
}

.twitterIcon {
    margin-left: 550px;
    position: absolute;
}

.facebookIcon {
    margin-left: 650px;
    position: absolute;
}

.instagramSquare {
    margin-left: 750px;

}

.instagramCircle {
    margin-left: 759px;
    margin-top: -29px;
    position: absolute;
}

.instagramFullStop {
    margin-left: 774px;
    margin-top: -30px;
    position: absolute;
}

.rightFooter {
    margin-left: 1050px;
    position: absolute;
    margin-top: -30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    color: #5c5c5c;
    letter-spacing: 0.1px;
}


/* mobile version  */
@media only screen and (max-width: 390px) {

    .header {
        background-image: url(/images/image15.png);
        margin-left: 330px;
        background-repeat: no-repeat;
        margin-top: 48px;
    }

    .headerLogo {
        width: 104px;
        height: 51.37px;
        padding: 17px 0px 0px 25px;
        margin-left: -330px;
        margin-top: -48px;
    }

    .rightHeader {

        display: none;
    }

    .homeContainer {

        background-image: none;
        background: #FAFAFA
    }

    .homeHeading {
        color: #737373;

    }

    .homeHeading1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;
    }

    .homeHeading2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #252B42;

    }

    .homeHeading3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }

    .homeButton1 {
        margin-left: 50px;
        margin-top: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        border-radius: 40px;
        background: #FA4A0C;
        color: white;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 180px;


    }

    .homeButton2 {

        margin-left: -260px;
        margin-top: 130px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        border: 2px solid orangered;
        background: #fdfbfa;
        color: orangered;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 180px;
        border-radius: 40px;
    }

    .homeMobileDesign1 {
        width: 440px;
        margin-left: -90px;
        margin-top: 10px;

    }

    .homeMobileDesign2 {
        width: 200px;
        margin-top: 200px;
        margin-left: -170px;
    }

    .horizontalLine {
        width: 100%;
        margin-left: -10px;
        border: 2px solid rgb(173, 169, 169);
        margin-top: 100px;
    }

    .procedure {
        margin-top: -250px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #000000;
    }

    .createAccountRightContainer {

        margin-top: -680px;
        margin-left: 100px;
        text-align: center;
    }

    .createAccountContent1 {
        margin-top: -1380px;
        margin-left: -40px;
        text-align: center;
    }

    .createAccountContent2 {

        margin-left: -40px;
        text-align: center;
    }

    .createAccountMobileDesign {

        margin-left: -80px;
        margin-top: 700px;
    }

    .shoppingLeftContainer {
        margin-left: 100px;
        margin-top: 680px;
    }







}